---
import Text from "../system/Text.astro";
import littleEllyLogo from '../../images/littleEllyLogo.png'
import letterAcademyLogo from '../../images/letterAcademyLogo.png'
import ellyChildCareLogo from '../../images/ellyChildCareLogo.png'
import { Image } from 'astro:assets';

---
<div class='px-20 pt-14 max-md:px-4 max-md:pt-14 pb-9 bg-white flex flex-col items-center max-md:items-start'>
  <!-- <Text type={'subtitle'} class='text-black' style={{ letterSpacing: '0.1em', opacity: 0.6 }}>Our Sister Schools</Text> -->
  <Text type={'h2'} class='text-black relative max-md:leading-[43px]'>
    The Glentree <span class='text-accent2'>Family Tree</span>
  </Text>
  <div class='flex flex-row w-full justify-between mt-14 max-md:mt-0 max-md:flex-col text-black'>
    <a href="https://littleelly.com/" class='flex-1 mt-8' target="_blank">
      <div class='w-[28vw] max-md:w-full max-md:h-[240px] h-[23vw] border border-red-500 rounded-lg flex justify-center items-center'>
        <Image src={littleEllyLogo} alt='Little Elly' class='w-[80%] max-md:w-[60%]' />
      </div>
      <Text type={'h4'} class={'mt-6 max-md:4'}>Little Elly</Text>
      <Text type={'regular'} class={'mt-2 w-[28vw] max-md:w-[95%]'}>India's favorite preschool with 130+ centers in South and West India. Stimulating curriculum based on Montessori and Steiner models.</Text>
    </a>
    <a href="https://letter.learningedgeindia.org/" class='flex-1 mt-8' target="_blank">
      <div class='w-[28vw] max-md:w-full max-md:h-[240px] h-[23vw] border border-red-500 rounded-lg flex justify-center items-center'>
        <Image src={letterAcademyLogo} alt='Little Elly' class='w-[80%] max-md:w-[60%]' />
      </div>
      <Text type={'h4'} class={'mt-6 max-md:4'}>LETTER</Text>
      <Text type={'regular'} class={'mt-2 w-[28vw] max-md:w-[95%]'}>Offers teacher training programs for preschool and primary school teachers. For fresh graduates, working teachers, and career seekers.</Text>
    </a>
    <a href="https://www.ellychildcare.com/" class='flex-1 mt-8' target="_blank">
      <div class='w-[28vw] max-md:w-full max-md:h-[240px] h-[23vw] border border-red-500 rounded-lg flex justify-center items-center'>
        <Image src={ellyChildCareLogo} alt='Little Elly' class='w-[80%] max-md:w-[60%]' />
      </div>
      <Text type={'h4'} class={'mt-6 max-md:4'}>Elly Child Care</Text>
      <Text type={'regular'} class={'mt-2 w-[28vw] max-md:w-[95%]'}>Integrated preschool, day-care, and creche service for children from 6 months onwards. </Text>
    </a>
  </div>
</div>