---
import Text from '../system/Text.astro'

interface Props {
  title: string,
  class?: string,
  titleClass?: string,
  collapseGroup?: string,
  plusButtonClass?: string,
}

const { title, class: className, titleClass, collapseGroup = 'collapsible', plusButtonClass } = Astro.props

---

<div class:list={[collapseGroup, 'max-w-[762px] w-[90%] bg-gray-200 rounded-2xl px-[18px] text-black', className]} style={{ boxShadow: '0px 10px 20px 10px rgba(0, 0, 0, 0.1)' }}>
  <div class='flex justify-between items-center w-full py-6 cursor-pointer'>
    <Text type={'h4'} class:list={[titleClass, 'collapsible-title transition-all']}>{title}</Text>
    <div class:list={['w-[42px] h-[42px] bg-accent rounded-lg text-white flex items-center justify-center text-3xl flex-shrink-0', plusButtonClass]}>
      <span class='-top-[2px] relative collapse-icon'>+</span>
    </div>
  </div>
  <div class='collapsible-content'>
    <div class='pb-6'>
      <slot />
    </div>
  </div>
</div>

<style>
  .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  .collapsible {
    transition: all 0.5s ease-in-out;
  }
</style>
