---
import Collapsible from "./admissions/Collapsible.astro"
import Text from "./system/Text.astro";



const faqs = [
    {
        "question": "How do I apply for admission to Winmore?",
        "answer": "The answer is pending from the school...",
    },
    {
        "question": "What are the admission requirements?",
        "answer": "The answer is pending from the school...",
    },
    {
        "question": "What are the age requirements for admissions?",
        "answer": "The answer is pending from the school...",
    },
    {
        "question": "How do I schedule the campus tour or visit? ",
        "answer": "The answer is pending from the school...",
    },
    {
        "question": "What is the student-teacher ratio in the school?",
        "answer": "The answer is pending from the school...",
    },
    {
        "question": "What are the 2nd and 3rd language options available for the students?",
        "answer": "The answer is pending from the school...",
    },
    {
        "question": "What is the curriculum (board) followed by the school?",
        "answer": "The answer is pending from the school...",
    },
]
---
<div class="flex flex-col items-center gap-5 ">
  {faqs.map(({ question, answer }) => (
    <Collapsible title={question} titleClass='font-sans font-bold text-xl max-md:text-lg' class='mb-5' collapseGroup='collapsible' plusButtonClass="w-[35px] h-[35px] ml-1">
      <Text type={'regular'} set:html={answer} class="[&>a]:underline [&>a]:text-blue-700"></Text>
    </Collapsible>
  ))}
</div>