---
import Text from "../system/Text.astro";

---

<div class='w-3 h-3 mx-14 relative'>
  <svg>
    <rect x="5.96875" y="0.343262" width="8" height="8" transform="rotate(45 5.96875 0.343262)" fill="white"/>
  </svg>
</div>
<Text type='h4' class='font-display font-bold tracking-[3px] text-white'>Admissions Open</Text>
<div class='w-3 h-3 mx-14 relative'>
  <svg>
    <rect x="5.96875" y="0.343262" width="8" height="8" transform="rotate(45 5.96875 0.343262)" fill="white"/>
  </svg>
</div>
<Text type='h4' class='font-display font-bold tracking-[3px] text-accent2'>AY 2024 - AY 2025</Text>